@import 'shared';

body{
	line-height:150%;
	font-size:large;
}

h1{
	font-size:2em;
}

main{
	display:flex;
	flex-direction:column;
}

@media (min-width: 480px){
	main{
		flex-direction: row;
	}
}

aside{
	flex:0 0 300px;
}

article{
	display:block;
	flex: 1 1 auto;
	.container {
	  max-width: 800px;
	  margin: 0 auto;
	}
}

footer{
	font-size:0.7em;
	text-align:center;
	margin-top:1em;
}

#navigation{
	font-size: 1.2em;
	font-weight: bold;
	text-align:center;
}

.menu{
	font-size:1.5em;
	font-weight: bold;
	margin-bottom: 1em;
}

.menu a{
	color: black;
}

a:link,a:hover,a:visited,a:active{
	text-decoration:none;
	color:black;
}

.stroke1{
	stroke:black;
}

#tocContainer h1{
	font-size: 1em;
}


