<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.title }} | {{ config.author }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/scripts.js"></script>
    {{ stylesheets }}
  </head>
  <body data-type="book">
    	 <nav class="menu">
      <div class='wrapper'>
        <a id="tocToggle" href="#">
        <svg width="25px" height="16px" viewBox="0 0 25 16" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <line x1="0" y1="2" x2="18" y2="2" class="stroke1" />
          <line x1="0" y1="8" x2="18" y2="8" class="stroke1" />
          <line x1="0" y1="14" x2="18" y2="14" class="stroke1" />
        </svg></a>
	&nbsp;
	<a href="http://workbook.eccs.world">{{ config.title }}</a>
      </div>
    </nav>
    <main>

	    <aside id="tocContainer" style="display:none">
		<h1>{{ config.toctitle }}</h1>
		{{ toc }}
	    </aside>
	    <article>
		    <div class="container">
		      {{ content }}
		    </div>
	      	{% include navigation.html %}
	    </article>
    </main>

  </body>
</html>
