<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ config.title }} | {{ config.author }}</title>
    {{ javascripts }}
    {{ stylesheets }}
  </head>
  <body data-type="book">
    <div class="container">
      {{ content }}
      {% include navigation.html %}
    </div>
  </body>
</html>
