<nav id="navigation">
{% if navigation.prev %}
<a id="prev-link" href="{{ navigation.prev.href }}">&laquo; {{navigation.prev.label}}</a>
{% endif %}
|||
{% if navigation.next %}
<a id="next-link" href="{{ navigation.next.href }}">{{navigation.next.label}} &raquo;</a>
{% endif %}
</nav>

<footer>
	<a href={{ config.licenselink }}>CC-BY-SA-4.0</a> | 
	<a href="https://github.com/Escenaconsejo/workbook/">GitHub</a> |
	<a href="http://escenaconsejo.org">Escenaconsejo</a>
</footer>
